@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-theme-light;
}

.app-container {
    @apply
        flex
        flex-col
        items-center
        justify-start sm:my-auto
        gap-y-4
        p-4
        h-screen
        w-screen
        text-theme-text;
}

.header-container {
    @apply 
        w-full 
        sm:max-w-md 
        p-8 
        rounded-xl
        bg-theme-primary
        text-theme-background
        shadow-lg
        flex justify-center items-center;
}

.todo-list-container {
    @apply 
        w-full 
        sm:max-w-md 
        p-8 
        rounded-xl
        bg-theme-background
        shadow-lg
        flex flex-col justify-start items-stretch divide-y
        ;
}

.todo-item-container {
    @apply
        w-full
        p-2
        flex flex-row items-center justify-start gap-8
        hover:bg-theme-secondary
        ;
}