@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-theme-light;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

@layer components {
    .app-container {
        @apply
        flex
        flex-col
        items-center
        justify-start sm:my-auto
        gap-y-4
        p-4
        h-screen
        w-screen
        text-theme-text;
    }
    
    .header-container {
        @apply 
        w-full 
        sm:max-w-lg 
        p-8 
        rounded-xl
        bg-theme-primary
        text-theme-background
        shadow-lg
        flex flex-col justify-center items-center gap-y-4;
    }
    
    .content-container {
        @apply 
        w-full 
        overflow-auto no-scrollbar
        sm:max-w-lg 
        p-8 
        rounded-xl
        bg-theme-background
        shadow-lg
        flex flex-col justify-start items-center
        ;
    }
    
    .todo-list-container {
        @apply 
        w-full 
        flex flex-col justify-start items-center divide-y
        ;
    }
    
    .todo-item-container {
        @apply
        w-full
        p-2
        text-left 
        flex flex-row items-center justify-start
        sm:hover:pl-8
        transition-spacing
        ;
    }
    
    .add-todo-container {
        @apply 
        w-full 
        text-theme-background
        flex flex-row justify-between items-center
        gap-8
        ;
    }

    .delete-button {
        @apply
        bg-red-600 
        px-2
        rounded 
        text-theme-background text-sm
        shadow 
        active:scale-95 duration-150;
    }
}